<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slu.pojo.UsernameMapper">
    <select id="getNameByQqAcc" resultType="org.slu.pojo.Username">
        select * from username where qqAcc = #{qqAcc}
    </select>
    
    <update id="setName" parameterType="org.slu.pojo.Username">
        update username set username = #{username} where qqAcc = #{qqAcc}
    </update>
    
    <insert id="insertUsername" parameterType="org.slu.pojo.Username">
        insert NewGame.username (qqAcc, username) values (#{qqAcc}, #{username});
    </insert>
</mapper>