<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slu.pojo.UserMapper">
    <select id="getUserByQqAcc" resultType="org.slu.pojo.User">
        select * from user where qqAcc = #{qqAcc}
    </select>
    <update id="updateUser" parameterType="org.slu.pojo.User">
        update user set goldCoin = #{goldCoin}, copperCoin = #{copperCoin},
                        signDate = #{signDate}, continueDay = #{continueDay},
                        signCount = #{signCount}, prayCount = #{prayCount},
                        currentPrayCount = #{currentPrayCount}
        where qqAcc = #{qqAcc}
    </update>
</mapper>